/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Barra lateral */
.sidebar {
    background-color: #333;
    color: white;
    width: 220px;  /* Reducir el ancho de la barra lateral */
    height: 100%;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sidebar .logo {
    width: 50px;
    margin-bottom: 20px;
}

.sidebar h2 {
    font-size: 24px;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar-nav a:hover {
    background-color: #575757;
}

/* Estilo para el contenido principal */
.main-content {
    margin-left: 220px; /* Asegurarse de que el contenido no se solape con la barra lateral */
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header-right {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.content {
    margin-top: 20px;
}

.content a {
    color: #0066cc;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;  /* Barra lateral ocupará el 100% en pantallas pequeñas */
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
    }
}
